body {
    padding-bottom: 20px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
  }
  :root{
    --big-font:7rem;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  .navbar h3{
    color: rgb(0, 0, 97);
    font-size: xx-large;
    font-family: 'Rubik', sans-serif;
  }
  .navbar-nav a{
    font-weight: 1000;
    font-family: 'Poiret One', sans-serif;
}
  section{
    width: auto;
  }
.main-1{
    height: 85vh;
    width: auto;
    border-bottom: 1px solid rgb(243, 238, 238);
    /* background: #4d4c4c; */
}  
#main-text span{
    font-weight: 800;
    font-size:5rem;
    color: rgb(0, 0, 97);
}
#main-text p{
    font-weight: 700;
    font-size: 23px;
    font-family: 'Poiret One', sans-serif;
}
.main-1 img{
    width: 70%;
    height: auto;
}
.main-2{
    border-bottom: 1px solid rgb(243, 238, 238);
    margin-top: 50px;
}
.main-2 span{
    color: rgb(131, 68, 156);
    font-weight: 1000;
    font-size: 20px;
    font-family: 'Poiret One', sans-serif;
}
.main-2 .p{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
    
}
.main-2 .r1{
   width: auto;
   height:100px;
   text-align: center;
}
.main-2 .r2{
    margin-top: 150px;
    padding: 50px;
}
.head-img{
    margin-left: 40%;
}
.body{
        padding: 47px;
        text-align: center;
        font-family: 'Poiret One', sans-serif;
        font-weight: 900;
}
.main-3 {
    width: auto;
    height: 85vh;
    background: rgb(28, 17, 68);
}

.main-3  img{
    margin-top: 140px;
    margin-left: 160px;
}

.main-4 img{
   width: 662px;
}
.p-head{
    color: rgb(131, 68, 156);
    font-weight: 100;
    font-size: 20px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 30px;
}
.main-4 h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.main-4 .para{
    text-align: center;
    padding: 20px;
    font-family: 'Poiret One', sans-serif;
    font-weight: 700;
}
.main-5{
    background: rgb(110, 110, 182);
    width: auto;
    height: 65vh;
}
.main-5 h2{
    text-align: center;
    margin-top: 30px;
    font-family: 'Poiret One', sans-serif;
    font-weight: 700;
}
.main-5 p{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poiret One', sans-serif;
    font-weight: 500;
    color: aliceblue;
}
.main-5 input{
    background: transparent;
    border: none;
    border-bottom: .5px solid;
    padding: 10px;
    height: auto;
    width: 50%;
    
}
.flex-column{
    align-items: center;
    justify-content: space-around;

}

input::placeholder{
    color: #f8f5f5;
    font-family: 'Poiret One', sans-serif;
    font-weight: 500;
    transition: .6s ease-in-out;
    padding: 10px;
}

.main-5 button{
    
    height: auto;
    width: 15%;
    background-color: rgb(203, 203, 235);
    border-radius: 5px;
    border: none;
    font-family: 'Poiret One', sans-serif;
    font-weight: 700;
    margin-right: -230px;
    margin-top: -40px;
    transition: .5s  ease-in-out;
}
.main-5 button:hover{
    background-color: greenyellow;
    transform: translatey(-5px);
}
.last{
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}